<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MPAI Spring MVC Demo</title>
</head>
<body>
    <p>This is MPAI Sring MVC Demo <b>Enrollment</b> page</p>

    <form th:action="@{/courses/1/students/enrollStudent}" method="post">
        <label for="studentId">
            <b>What is the student ID that you want to enroll?</b>
        </label>
        <input id="studentId" name="studentId" type="number"/>
        <input type="submit" value="Save"/>
    </form>

<p>Available students:</p>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>1</td>
        <td>Student name demo 1</td>
    </tr>

    <tr>
        <td>2</td>
        <td>Student name demo 2</td>
    </tr>
    </tbody>
</table>
</body>
</html>