<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MPAI Spring MVC Demo</title>
</head>
<body>
<p>This is MPAI Sring MVC Demo <b>Student Insert/Edit</b> page</p>

<table>
    <tbody>
    <tr>
        <td>
            <label for="studentName">
                Name
                <input id="studentName" type="text">
            </label>
        </td>
    </tr>

    <tr>
        <td>
            <label for="studentAge">
                Age
                <input id="studentAge" type="number">
            </label>
        </td>
    </tr>
    </tbody>
</table>
<button type="submit">
    Save
</button>
</body>
</html>